@import './base.css';

#app {
  max-width: auto;
  padding: 50px;
  font-weight: normal;
  background-color: #0e1024;
}


.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: auto) {
  body {
    display: flex;
    place-items: center;
    color: #1A237E
  }
}
